body{
    background-color:hsla(0,0%,100%,.98);
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased ;
    display: block;
}
.main {
    margin: 2.0625rem auto 3.75rem;
}
ul{
    margin: 0;
}
.nav-links h1 {
    margin: 2px 0 0;
    line-height: 68px;
    display: inline-block;
    position: relative;
}
.nav-links {
    position: relative;
    float: right;
}
.nav-links{
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0;
}
.navmenu li{
    display: inline-block;

}
.logo-css {
    left: 0px;
    width: 180px;
    height: 60px;
  }
  /*navigation*/
  .navmenu {
    
    position: relative;
    float: right;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
  }
  nav{
    display: block;
  }

  .navmenu a {
    display: inline-block;
}
.navmenu h1 {
    line-height: 48px;
    z-index: 12;
    margin: 2px 0 0;
    line-height: 68px;
    display: inline-block;
    position: relative;
}

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
    
 .h1 {
     color: rgb(32, 126, 79);
     font-size: 35px;
     margin-left: 10%;
     margin-right: 10%;
     margin: 1em 0;
     font-family: Work Sans,Arial,sans-serif;
     font-weight: 300;
     letter-spacing: -.3px;
     color: #747474;
 }
 .p1{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    
 }
 .div2{
  
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    width: 33.33%;

    
}
 .Forpatients{
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: #00b39b;
    width: 260px;
    border-radius: 10px;
    color: #fff;
   
 }
 .Fordoctors{
     margin-left: 0.5%;
     margin-right: 0.5%;
     background-color:#3d83df;
     width: 260px;
     border-radius: 10px;
     color: #fff;

    
 }
 .Forclinics{
     margin-left: 0.5%;
     margin-right: 0.5%;
     background-color: #1b2734;
     width: 260px;
     border-radius: 10px;
     color: #fff;
 }
 .dropbtn {
  background-color: #ffffff00;
  color: rgb(25, 7, 73);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}
/*department boutton*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #d4d4d400;
}
.greenone:hover{ background-color: #44925e
}

.test{
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  
}
.test ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.test ul li{
  list-style: none;
  margin-right: 6px;
}
.we{
  color: #44925e;
  font-size:20px;
}
.brands_logos{
  width: 120px;
  height: 60px;
}
#id_one{
  margin-left: 20px;
  margin-right:20px;
  background-color: #00b39b;
  display: flex;

}
.id_div3{
  list-style: none;
}
.id_div1{
  justify-content: space-around;
  display: grid;
}
.tran1{
  background-color: beige;
  margin-left:200px ;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.tran2{
  background-color: beige;
  margin-left:200px ;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.tran3{
  background-color: beige;
  margin-left:200px ;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.tran4{
  background-color: beige;
  margin-left:200px ;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.id_div3 h3{
  color: #44925e;
  font-size: 25px;
}
.id_div3 p{
  color: dimgrey;
}
.id_div1 h3{
  color: #44925e;
  font-size: 25px;
}
.id_div1 p{
  color: dimgrey;
  
  
}
.div_img1{
  display: flex;
  justify-content:space-between;
  font-family:Arial,sans-serif;
  flex-wrap: wrap;
  color: darkgray;
  list-style: none;
}
.div_img1 button{
background-color: rgb(123, 152, 240);
color: rgb(13, 13, 119);

}




.bot button{
  background-color: royalblue;
}
.footer{
  font-size: 70%;
  font-family: Roboto,Arial,sans-serif;
  color: darkgrey;
}
.imp{
  margin-left: 10%;
  margin-right: 10%;
}
.imp h3{
font-size: 30px;
color: rgb(81, 197, 139);
}
.imp p{
  color: darkgrey;
}